In [2]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import pandas_datareader as web

start = dt.datetime(2020,1,1)
end = dt.datetime(2020,4,5)

main_df = pd.DataFrame()
tickers = ['ABEV3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BBAS3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BBSE3.SA',
 'BPAC11.SA',
 'BRAP4.SA',
 'BRDT3.SA',
 'BRKM5.SA',
 'BTOW3.SA',
 'CCRO3.SA',
 'CIEL3.SA',
 'CMIG4.SA',
 'COGN3.SA',
 'CSAN3.SA',
 'CSNA3.SA',
 'CVCB3.SA',
 'CYRE3.SA',
 'ECOR3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'ENBR3.SA',
 'FLRY3.SA',
 'GGBR4.SA',
 'GNDI3.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'HAPV3.SA',
 'HYPE3.SA',
 'IGTA3.SA',
 'IRBR3.SA',
 'ITSA4.SA',
 'ITUB4.SA',
 'LAME4.SA',
 'LREN3.SA',
 'MGLU3.SA',
 'MRVE3.SA',
 'MULT3.SA',
 'NTCO3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RENT3.SA',
 'SANB11.SA',
 'SBSP3.SA',
 'SMLS3.SA',
 'SULA11.SA',
 'TIMP3.SA',
 'TOTS3.SA',
 'UGPA3.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VVAR3.SA',
 'WEGE3.SA',
 'YDUQ3.SA',
 'SUZB3.SA',
 'RAIL3.SA',
 'JBSS3.SA',
 'KLBN11.SA',
 'EQTL3.SA',
 'HGTX3.SA',
 'TAEE11.SA']

for ticker in tickers:
    df = web.DataReader(ticker, 'yahoo', start, end)  
    main_df['{}'.format(ticker)] = df['Close']
    
main_df.head()

,ABEV3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BPAC11.SA,BRAP4.SA,BRDT3.SA,...,VVAR3.SA,WEGE3.SA,YDUQ3.SA,SUZB3.SA,RAIL3.SA,JBSS3.SA,KLBN11.SA,EQTL3.SA,HGTX3.SA,TAEE11.SA
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,19.200001,58.799999,45.110001,53.799999,35.439999,37.509998,38.099998,75.809998,38.029999,30.740000,...,11.73,35.240002,46.750000,40.790001,26.400000,27.200001,18.490000,23.549999,34.560001,30.840000
2020-01-03,18.930000,56.759998,43.810001,53.709999,34.869999,37.509998,37.680000,76.029999,38.570000,30.559999,...,11.48,34.790001,45.770000,40.650002,25.629999,27.469999,18.940001,23.270000,34.980000,30.799999
2020-01-06,19.020000,55.000000,43.389999,53.000000,34.669998,36.840000,38.299999,75.919998,38.750000,29.030001,...,11.48,34.880001,46.650002,40.580002,24.900000,26.820000,19.110001,23.299999,34.000000,30.990000
2020-01-07,19.059999,56.820000,44.790001,52.599998,34.080002,36.200001,38.320000,75.599998,38.919998,28.990000,...,11.65,35.150002,45.779999,41.099998,25.270000,27.299999,19.170000,23.180000,32.639999,30.620001
2020-01-08,18.969999,56.919998,44.669998,52.119999,33.560001,35.639999,38.299999,74.930000,38.910000,28.850000,...,11.60,33.820000,45.509998,43.150002,25.600000,27.969999,19.379999,23.340000,31.879999,30.309999

In [34]:
database = pd.DataFrame(index=main_df.index)
database = main_df.copy()

for ticker in tickers:
    database['5sma-{}'.format(ticker)] = database['{}'.format(ticker)].rolling(5).mean()
    
database.dropna(inplace=True)    
database.head()

,ABEV3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BPAC11.SA,BRAP4.SA,BRDT3.SA,...,5sma-VVAR3.SA,5sma-WEGE3.SA,5sma-YDUQ3.SA,5sma-SUZB3.SA,5sma-RAIL3.SA,5sma-JBSS3.SA,5sma-KLBN11.SA,5sma-EQTL3.SA,5sma-HGTX3.SA,5sma-TAEE11.SA
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-08,18.969999,56.919998,44.669998,52.119999,33.560001,35.639999,38.299999,74.930000,38.910000,28.850000,...,11.588,34.776001,46.092,41.254001,25.560,27.352000,19.018,23.328,33.612,30.712
2020-01-09,18.820000,57.279999,44.650002,51.060001,33.230000,35.070000,38.189999,75.440002,38.410000,28.090000,...,11.574,34.392001,45.924,41.704001,25.466,27.573999,19.172,23.342,33.086,30.530
2020-01-10,18.889999,57.500000,44.299999,49.860001,32.650002,34.430000,36.400002,76.500000,38.290001,28.200001,...,11.618,34.234000,45.992,42.196001,25.474,27.712000,19.336,23.468,32.506,30.460
2020-01-13,19.209999,58.299999,44.349998,50.419998,33.049999,34.799999,36.130001,76.699997,39.900002,28.790001,...,11.862,34.122000,46.202,43.020000,25.684,28.093999,19.562,23.586,32.280,30.382
2020-01-14,19.100000,59.189999,44.650002,50.150002,33.119999,34.759998,36.560001,75.239998,40.279999,28.799999,...,12.202,34.092000,46.786,43.650001,25.790,28.374000,19.912,23.840,32.412,30.366

In [36]:
import numpy as np

day_database = pd.DataFrame()

for ticker in tickers:
    database['days_sma{}'.format(ticker)] =  np.where(database['{}'.format(ticker)]>database['5sma-{}'.format(ticker)], 1, -1)
    day_database['days_sma{}'.format(ticker)] = database['days_sma{}'.format(ticker)]
    
bias = day_database.iloc[-10:].sum()
bias

days_smaABEV3.SA     -4
days_smaAZUL4.SA     -8
days_smaB3SA3.SA     -4
days_smaBBAS3.SA    -10
days_smaBBDC3.SA     -8
                     ..
days_smaJBSS3.SA     -8
days_smaKLBN11.SA    -2
days_smaEQTL3.SA     -4
days_smaHGTX3.SA     -8
days_smaTAEE11.SA     0
Length: 66, dtype: int64